li a {
    color:white;
}

body {
    background-image:linear-gradient(rgba(250, 250 ,250, .5), rgba(250, 250 ,250, .5)),url('images/background.gif');
    background-repeat: no-repeat;
    /* background-size: cover; */
}